[submodule "hyprrust"]
	path = hyprrust
	url = https://github.com/andrewandreii/hyprrust.git
[submodule "hyprrust_macros"]
	path = hyprrust_macros
	url = https://github.com/andrewandreii/hyprrust_macros.git
